    .subscribe_button {
        background-color: rgb(236, 75, 75);
        color: white;
        border: none;
        padding: 16px;
        border-radius: 3px;
        cursor: pointer;
        margin-right:10px;
        transition: opacity 0.15s;
    }

    .subscribe_button:hover{
        opacity: 0.5;
        }

    .subscribe_button:active{
        opacity: 0.3;
    }    

    .join_button{
        background-color: white;
        border-color: rgb(82, 82, 232);
        color:rgb(82, 82, 232);
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
        border-style: solid;
        margin-right: 10px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s ;
    }

     .join_button:hover{
        background-color:rgb(82, 82, 232) ;
        color: aliceblue;
    }

    .join_button:active{
        opacity: 0.6;
    }

    .tweet_button{
        border-radius: 20px;
        color: aliceblue;
        background-color: rgb(68, 137, 210);
        height: 30px;
        width: 80px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: box-shadow 0.15s ;
        margin-right: 10px;
    }

    .tweet_button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }

    .uber_button {
        background-color: black;
        color: beige;
        width: 120px;
        height: 50px;
        cursor: pointer;
        border: none;
        font-weight: bold;
        margin-right: 10px;
    }

    .uber_button:hover{
        opacity: 0.5;
    }

    .amazon_button{
        background-color: rgb(221, 221, 12);
        color: black;
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 30px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    .amazon_button:hover{
        background-color: rgb(227, 248, 41);
        padding: 50px;
        vertical-align: top;
        transition: 0.15s;
    }
