.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: #f9f9f9;
    z-index: 2;
    padding-top: 5px;
}

.sidebar_item{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar_item:hover{
    background-color: rgb(239, 237, 237);
}

.sidebar_item div{
    font-family: Roboto, Aerial;
    font-size: 10px;
}
.explore, .home, .library, .originals, .subscriptions, .youtube-music{
    width: 25px;
    height: 24px;
    margin-bottom: 4px;
}