.thumbnail{
    width: 100%;
    position: relative;
}

.video_title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.channel_icon{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video_info_grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile_pic{
    width: 36px;
    border-radius: 50px;
}
            
.thumbnail_row{
    margin-bottom: 8px;
    position: relative;
}

.video_author{
    font-size: 12px;
    color: rgb(96,96,96);
    margin-bottom: 5px;
 }

            
.video_stats{
    font-size: 12px;
    color: rgb(96,96,96);
}

.video_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 750px){
    .video_grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .video_grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 8px;
    right: 5px;
    border-radius: 2px;
}
